<div class="right">
    <div class="Anuncio">
        <div class="Anuncio__title">
            <i class="fa-solid fa-futbol"></i>
            <h2>Anniversary league de Hattrick</h2>
        </div>
        
        <img src="/Angular-exercise/src/assets/hqdefault-removebg-preview.png" alt="">
        <p>parrafo</p>
    </div>
    <img src="" alt=""><span>Imagen</span>
    <div class="Noticias">
        <span>Icono   </span>
        <i class="fa-solid fa-inbox-in"></i>
        <h2>Noticas del mánager</h2>
        <img src="" alt="">
        <p>No hay noticias nuevas</p>
    </div>
    <div class="Notificaciones">
        <span>Icono   </span>
        <h2>Mi cuenta</h2>
        <img src="" alt="">
        <p>parrafo</p>
    </div>
    <div class="Informacion">
        <span>Icono   </span>
        <h2>Informacion del sistema</h2>
        <p>0 mensaje en los ultimos 3 dias</p>
    </div>
    
</div>