<div class="right">
    <div class="Anuncios">
        <div class="title">
            <i class="fa-solid fa-futbol"></i>
            <h2>Anniversary league de Hattrick</h2>
        </div>
        <div class="Anuncio__content">
            <img src="assets/hqdefault-removebg-preview.png" alt="">
            <p>¡La <a href="">  Anniversary League
                de Hattrick </a> ya está
                abierta para cualquiera
                que se quiera unirl ¡Es
                gratis y queda un número muy limitado de plazas, así que si quieres participar,
                asegúrate de <a>solicitar un equipo</a> ahora mismo!</p>
        </div>
    </div>
    <div class="Anuncio__Banner">
        <h4>Trofeo "Semana del Supporter."</h4>
        <p><img src="assets/businessman-happy-jumping-with-golden-2854857_cleanup-removebg-preview-removebg-preview.png"> Trofeo "Semana del Supporter ya ha comenzado.
            Tu equipo no participa en esta edicion, ¡pero le animamos a que lo haga la temporada que viene! </p>
    </div>
    <div class="Noticias">
        <div class="title">
            <i class="pi pi-credit-card"></i>
            <h2>Noticias del mánager</h2>
        </div>
        <p>No hay noticias nuevas.</p>
    </div>
    <div class="Notificaciones">
        <div class="title">
            <i class="fa-solid fa-crow"></i>
            <h2>Mi cuenta</h2>
        </div>
        <div class="Notificaciones__reports">
            <i class="pi pi-chart-pie"></i>
            <span>0 días restantes</span>
            <i class="fa-solid fa-square-plus"></i>
        </div>
        <div class="Notificaciones__reports">
            <i class="pi pi-money-bill"></i>
            <span>0 días restantes</span>
            <i class="fa-solid fa-square-plus"></i>
        </div>
        <div class="Notificaciones__reports">
            <i class="pi pi-ticket"></i>
            <span>0 días restantes</span>
            <i class="fa-solid fa-square-plus"></i>
        </div>
    </div>
   
    <div class="Informacion">
        <div class="title">
            <i class="pi pi-info"></i>
            <h2>Informacion del sistema</h2>
           
        </div>
        <p class="">0 <a>mensaje </a>en los ultimos 3 dias</p>
       
    </div>
    
</div>