<div>
    <h2>Mi Hattrick</h2>
    <div>
        <ul>
            <label>Mi Hattrick</label>
            <li>Mi oficina</li>
            <li>Noticias</li>
            <li>Editoriales</li>
            <li>Correo</li>
            <li>Ventana de Chat</li>
            <li>Red</li>
            <li>Favoritos</li>
            <li>Recordatorios</li>
            <li>Notas</li>
            <li>Preferencias</li>
            
        </ul>
    </div>
    <div>
        <ul>
            <label>Mi Hattrick</label>
            <li>Mi oficina</li>
            <li>Noticias</li>
            <li>Editoriales</li>
            <li>Correo</li>
            <li>Ventana de Chat</li>
            <li>Red</li>
            <li>Favoritos</li>
            <li>Recordatorios</li>
            <li>Notas</li>
            <li>Preferencias</li>
            
        </ul>
    </div>
    
</div>
