<div class="section">
    <div class="section__title">
        <div class="section__icon"><i class="pi pi-inbox"></i></div>
        <span> Breadcrumb>MigasDePan</span>
        <!-- imagen-->
    </div>
    <h1>Mi oficina</h1>
    <!--Componente-->
    <div class="target">
        <div class="target__Encabezado">
            <h2>Carlos Gabalán</h2>
            <label>Secretario</label>
        </div>
        <div class="target__message">
            <p>
                Hola. Me alegra verte de nuevo.
                <br><br>
                No tengo mensajes para ti. ¡Que tengas un buen dia!
            </p>
            <hr>
            <div class="message__date">
                <div class="date__icon">
                    <i class="pi pi-align-left" style="font-size: 10px"></i>
                </div>
                
                <div class="date__folder">
                    <h3>Archivo mensaje</h3>
                    <span>30 03 2022: Dejame presentarte a tu nuevo jugador...</span><br>
                    <span>30 03 2022: Dejame presentarte a tu nuevo jugador...</span><br>
                    <span>30 03 2022: Dejame presentarte a tu nuevo jugador...</span><br>
                    <span>30 03 2022: Dejame presentarte a tu nuevo jugador...</span><br>
                    <span>30 03 2022: Dejame presentarte a tu nuevo jugador...</span><br>
                </div>

            </div>
        </div>
    </div>
    <h3>¿Que estas pensando?</h3>
    <hr>
    <div class="target">
        
    </div>
</div>